.adminContainer {
  display:flex;
  justify-content: center;
  min-height: 90vh;
  min-width: 85vw;
  .dashboard{
    padding:2rem;
    width: 100%;
    margin-top: 8rem;
    & .card-body {
      & section {
        &:not(:last-child){
          margin-bottom: 2rem;
        }
      }

    }
  }
  
}