.adminContainer {
  display:flex;
  justify-content: center;
  min-height: 90vh;
  min-width: 85vw;
  .dashboard{
    padding:2rem;
    width: 100%;
    & .card-body {
      & section {
        &:not(:last-child){
          margin-bottom: 2rem;
        }
      }
      & .showSearch {
        display:none;
        @include response(tab-port) {
          display:block;
        }
      }
      & .hideSearch {
        display:block;
        @include response(tab-port) {
          display:none;
        }        
      }
    }
  }
  
}