.adminContainer {
  display:flex;
  justify-content: center;
  min-height: 100vh;
  .dashboard{
    padding:2rem;
    & .card-body {
      & section {
        padding:2rem;
        & div:not(:last-child){
          margin-bottom: 2rem;
        }
      }
      & section:not(:last-child){
        margin-bottom: 5rem;
      }
      & .showSearch {
        display:none;
        @include response(tab-port) {
          display:block;
        }
      }
      & .hideSearch {
        display:block;
        @include response(tab-port) {
          display:none;
        }        
      }
    }
  }
  
}