.attendance {
  & .card {
    & .card-title {
      font-size: 2rem;
      font-weight: 600;
      padding: 0 .5rem 0 .5rem;
    }    
  }
  & .card-body .row {
    margin-bottom: 4rem;
  }
  & .paddlersWhoPaddledText {
    font-size: 1.75rem;
  }
  & .list-group-item{
    cursor: pointer;
  }
  & .listboxText {
    color:$dark;
    font-size: 1.5rem;
  }
  & label {
    font-size:1.5rem
  }
  .noLogin {
    & button {
      margin-left: 1rem;
    }
  }
}