.attendance {
  & .card {
    & .card-title {
      font-size: 2rem;
      font-weight: 300;
      padding: 0 .5rem 0 .5rem;
      
    }    
  }
  & .card-body .row {
    margin-bottom: 4rem;
  }
  & .dbListOfPaddlersWhoAttended{
    min-width: 100%;
    & .card-header {
      font-size: 1.5rem;
    }
    & .card-body p {
      font-size: 1.75rem;
    }
  }
  & .comma:not(:last-child):after {
      content: ", ";
    }
  & .react-datepicker {
    font-size: 2rem;
    & .react-datepicker__day-name {
      margin: 1.5rem;
    }
    & .react-datepicker__day--selected{
      padding:.5rem;
      width:3rem;
    }
    & .react-datepicker__day {
      margin: 1rem 1.5rem;
    }
    & .react-datepicker__week {
      padding: 0rem 1rem;
    }
    & .react-datepicker__current-month{
      font-size: initial;
    }
    & .react-datepicker__day--highlighted {
      background-color: $warning!important;
      width: 3rem!important;
      padding:.5rem;
      color: $dark!important;
    }
  }    
}
.attendanceModal {
  & .modal-header button {
    color: $dark;
    font-size: 2rem;
  }
  & .modal-title {
    font-size: 2rem;
  }
  & .modal-dialog {
    min-width: 80%;
  }
  & .modal-content {
    & .paddlersWhoPaddledText {
        font-size: 1.75rem;
      }
    & .list-group-item{
      cursor: pointer;
      font-size: 2rem;
    }
    & .listboxText {
      color:$dark;
      font-size: 1.5rem;
    }
    & label {
      font-size:2rem;
    }
    & input {
      font-size:2rem;
    }
    .noLogin {
      & button {
        margin-left: 1rem;
      }
    } 
    .btn {
      font-size: 1.5rem;
    }   
  } 
}


