.eventCalendar{
  & .fullsize-bg-image {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: .75;
    z-index:-1000; 
    @include response(ipadPro-port){
      width: auto;
      min-height: 50vh;
    }
    @include response(tab-port){
      width: auto;
      height: 50vh;
    }
    @include response(phone-land){
      width: 50vh;
      height:auto;
    }
  
  }
  & .pageTitle {
    @include response(phone){
      font-size: 2rem;
    }    
  }   
  & .calendarInfo{
    @include response(phone){
      margin:0;
      height: initial!important;
    }          
    & .rbc-calendar {
      color:#000;
      min-height:50vh!important;
      margin:4rem;
      @include response(phone-land){
        height: 100vh!important;
        margin: 0!important;
        font-size: 1rem;
      }  
      & .rbc-event {
        padding: 2px;
      } 
      & .rbc-month-row {
        @include response(phone-land){
          overflow:visible;
        }
        @include response(phone){
          overflow:visible;
        }
      } 
      & .rbc-event-content{
        font-size: 1rem;
        @include response(tab-port){
          font-size: 1rem;
        }
        @include response(phone-land){
          font-size: 1rem;
        }
        @include response(phone){
          font-size: 1rem;
        }
      }
      & .rbc-toolbar-label {
        font-size: 2rem;
      }
      & .rbc-month-view{
        min-height:50vh!important
      }
      & .rbc-row-content{
        z-index: 0!important;
      }
      & .rbc-date-cell {
        @include response(phone) {
          font-size: 1.25rem;
        }
      }      
    }    
  }
  & .moreEventInfo{
    @include response(tab-land){
      margin-top: 4rem;
    }    

    & .nav-tabs {
      background-color: rgba($white, .5);
    }
    & .containerTitle {
      @include response(phone){
        font-size: 1.25rem;
      }    
    }    
    & .events { 
      & .card{
        margin: .5rem;
        border-radius: 10px;
        box-shadow: .5rem .5rem 1rem rgba($primary, .75);
        & label {
          font-weight: 600;
          font-size: 1rem;
        }
        & .card-body{
          font-size: 1.5rem;
          padding:.25rem;
        }
        & img {
          padding: .5rem;
        }
        & .card-title {
          font-size: 1rem;
        }

      }
      & .card-header {
        font-size: 2rem;
        font-weight: 600;

      }
      & .btn {
        margin-top: 1rem;
        cursor: pointer;
        font-size: 1.75rem;
      }
      & td {
        vertical-align: top;
      }      
      & .modal {
        color:$dark;
      }

    }
    & .eventDescriptionTitle {
      text-shadow: .1rem .1rem .25rem $dark;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Alegreya';
      font-size: 5rem;
    }
    & .scoraEvents {
      & td {
        font-size: 2rem;
        @include response(phone){
          font-size: 1.25rem;
        }
      }
      & thead{
        & td {
        font-weight: 600;
        font-size: 2.5rem;
        @include response(phone){
          font-size: 1.5rem;
        }    
        }
      }
    }
    & .eventInfo {
      & .nav-item {
        font-size: 2rem;
      }
    }
  }
}