.bg_Calendar{
    background-image: url('/images/bg_home.jpg');
    background-size: cover; 
    height: 100vh; 
}

.eventCalendar{
  & .rbc-calendar {
    color:#000;
    height:50vh!important;
    margin:4rem;
    @include response(phone-land){
      height: 100vh!important;
      margin: 0!important;
      font-size: 1rem;
    }   
    @include response(phone){
      margin:0;
      height: initial!important;
    } 
    & .rbc-month-row {
      @include response(phone-land){
        overflow:visible;
      }
      @include response(phone){
        overflow:visible;
      }
    } 
    & .rbc-event-content{
      @include response(tab-port){
        font-size: 1rem;
      }
      @include response(phone-land){
        font-size: 1rem;
      }
      @include response(phone){
        font-size: 1rem;
      }
    }  
  }
  & .moreEventInfo{
    @include response(tab-land){
      margin-top: 4rem;
    }    

    & .nav-tabs {
      background-color: rgba($white, .5);
    }
  }  
}

.rbc-toolbar-label {
  font-size: 2rem;
}
.rbc-month-view{
  height:auto!important
}

.rbc-row-content{
  z-index: 0!important;
}
.rbc-date-cell {
  @include response(phone) {
    font-size: 1.25rem;
  }
}
.events { 
  & .card{
    margin: .5rem;
    border-radius: 10px;
    box-shadow: .5rem .5rem 1rem rgba($primary, .75);
    & label {
      font-weight: 600;
      font-size: 1rem;
    }
    & .card-body{
      font-size: 1.5rem;
      padding:.25rem;
    }
    & img {
      padding: .5rem;
    }
    & .card-title {
      font-size: 1rem;
    }

  }
  & .card-header {
    font-size: 2rem;
    font-weight: 600;

  }
  & .btn {
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.75rem;
  }
  & td {
    vertical-align: top;
  }
  & .modal {
    color:$dark;
  }
}
.eventDescriptionTitle {
  text-shadow: .1rem .1rem .25rem $dark;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Alegreya';
  font-size: 5rem;
}
.scoraEvents {
  & td {
    font-size: 1.25rem;
  }
  & thead{
    & td {
    font-weight: 600;
    font-size: 1.5rem;
    }
  }
}
.eventInfo {
  & .nav-item {
    font-size: 2rem;
  }
}