.dashboard {
  position: absolute;
  top:5rem;
  left:5rem;
  background: rgba($white, .95);
  display: flex;
  width: 85vw;
  min-height: 85vh;
  & .card-title {
    background-color: $primary;
    padding:1rem;
    color: $white;
  }
}
.dashboardStats {
  .card {
    margin-bottom:2rem;
  }
}