.dashboard {
  position: absolute;
  top:10rem;
  margin-right: auto;
  margin-left: auto;
  background: rgba($white, .95);
  display: flex;
  width: 85vw;

  & .card-body {
    color: $dark;
  }
}
.dashboardStats {
  background: url('/images/bg_join.png');
  background-size: contain;
  .card {
    margin-bottom:2rem;
  }
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.dashboard__scoraInfo {
  & label {
    color:$dark!important;
  }
}