.dashboardContainer{
  @include response(phone){
    margin-top: -100px;
  }
  .fullsize-bg-image{
    position: fixed;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .75;
    z-index:-1000;     
  }
}
.dashboardStats {
  .dashboard {
    top:10rem;
    margin-right: auto;
    margin-left: auto;
    background: rgba($white, .95);
    display: flex;
    width: 85vw;
    @include response(big-desktop){
      width: 75vw;
    }
    @include response(phone-land){
      width: initial;
    }
    @include response(phone){
      width: initial;
    }
    & .card {
      margin-bottom:2rem;
      & .card-title {
        & button {
          & h4 {
            @include response(phone-land){
              display: none;
            }
            @include response(phone){
              display: none;
            }
          }
        }
      }
      & .card-body {
        color: $dark;
        @include response(phone-land){
          font-size: 1.25rem;
        }
        @include response(phone){
          font-size: 1.25rem;
        }
        & .scoraInfo {
          & div.card-title{
            @include response(phone-land){
              font-size: 1.5rem;
            }
            @include response(phone){
              font-size: 1.5rem;
            }
          }
          & .input-group{
            @include response(phone-land){
              font-size: 1.25rem;
            }
            @include response(phone){
              font-size: 1.25rem;
            }
          }
          & label{
            @include response(phone-land){
              font-size: 1.25rem;
            }
            @include response(phone){
              font-size: 1.25rem;
            }
          }          
        }
      }
    }
    .fullsize-bg-image {
      position: fixed;
      width: auto;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .75;
      z-index:-1000; 
    } 
  }
}
.dashboard__scoraInfo {
  & label {
    color:$dark!important;
  }
}