.editProfilePage {
  & .card:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.editProfile {
  font-size: 2rem;
  color: $dark;
  & .modal-dialog {
    max-width: 75vw;
  }
  & td:nth-child(odd) {
    text-align: right;
    font-weight: 600;
    padding-right: 2rem;
  }
}