footer {
  position: fixed;
  bottom:0px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  background: rgba($dark, .75);
  @include response(big-desktop){
    font-size: 3rem;
    width: 85vw!important;
  }
}