.slant-down-right {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 95% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 95% 0%);
}
.slant-down-left {
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 95% 0%);
  clip-path: polygon(5% 0%, 0% 100%, 100% 100%, 100% 0%);
}
.bg-Tribal {
  background-image: url('/images/bg_join.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-join_1 {
  background-image: url('/images/join_1.jpg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.bg-join_2 {
  background-image: url('/images/join_2.jpg');
  background-position: bottom left;
  background-size: cover;
  height: 100vh;
}
.bg-join_3 {
  background-image: url('/images/join_3.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.bg-join_4 {
  background-image: url('/images/join_4.jpg');
  background-size: cover;
  background-position: center left;
  background-position-x: 75%;
  height: 100vh;
}

.bg-white-fade {
  background: rgba($white, .75);
}
.bg-primary-fade {
  background: rgba($primary, .75);
}
.bgAIconLeft {
  @include aTribal;
  background-position-x: -150px;
}
.bgAIconRight {
  @include aTribal;
  background-position-x: 150px
}
.bgAIcon {
  @include aTribal;
}
.joinUsText {
  font-size: 2.5rem;
    line-height: 2.75rem;
}
.joinUsContainer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .row:first-child {
    margin-top:5rem!important;
    padding-top: 5rem;
    padding-bottom: 5rem;
  } 
  .row:not(:first-child) {
    margin-top:10rem!important;
    margin-bottom:5rem!important;
    padding-top: 5rem;
    padding-bottom: 5rem;
  } 
  .btn {
    font-size: 3rem;
    padding: 2rem;
    @include boxShadow($primary);
  }
}