.slant-down-right {
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 95% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 95% 0%);
}
.slant-down-left {
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 95% 0%);
  clip-path: polygon(5% 0%, 0% 100%, 100% 100%, 100% 0%);
}
.bg-Tribal {
  background-image:url('/images/bg_join.png') ;
  background-color: #FFFFFF;;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}
.bg-join_1 {
  background-image: url('/images/join_1.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;;
  height: 100vh;
  @include response(tab-port){
    background-position: center;
  }
  @include response(phone){
    background-position-x: -518px;
  }
}
.bg-join_2 {
  background-image: url('/images/join_2.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
  @include response(tab-port){
    background-position: left;
  }
  @include response(phone){
    background-position-x:-281px;
    background-position-y: 152px;;
  }
}
.bg-join_3 {
  background-image: url('/images/join_3.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
  @include response(tab-port){
    background-position: right;
  }
  @include response(phone){
    background-position-x:-662px;
    background-position-y: 152px;;
  }
}
.bg-join_4 {
  background-image: url('/images/join_4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  background-position-x: 75%;
  height: 100vh;
  @include response(tab-port){
    background-position: right;
  }
  @include response(phone){
    background-position-x:-423px;
  }   
}
.bg-join_5 {
  background-image: url('/images/join_5.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
  @include response(tab-port){
    background-position: right;
  }
  @include response(phone){
    background-position-x:-459px;
  }  
}

.bg-white-fade {
  background: rgba($white, .75);
}
.bg-primary-fade {
  background: rgba($primary, .75);
}
.bgAIconLeft {
  @include aTribal;
  background-position-x: -150px;
}
.bgAIconRight {
  @include aTribal;
  background-position-x: 150px
}
.bgAIcon {
  @include aTribal;
}
.joinUsContainer {
  padding: 0;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .row:first-child {
    margin-top:5rem!important;
  }
  .columnText {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include response(tab-port){
      height: 40%;
      font-size: 1.75rem;
    }
    @include response(tab-port){
      height: 40%;
      font-size: 1.75rem;
    }
    @include response(phone){
      font-size: 1.75rem;
      line-height: 2rem;
    }    
    & ul {
      text-align: left;
      & li {
        margin: 2rem 0;
        line-height: 2rem;
      }
    }
    & :first-child{
      @include response(phone){
        .display-4{
          font-size: 2.5rem!important;
        }
      }
    }

  }
  .row:not(:first-child) {
    margin-top:10rem!important;
    margin-bottom:5rem!important;
  }
  & :nth-child(2){
    .columnText{
      @include response(phone){
        height: 54%;
      }
    }
  }  
  & :nth-child(3){
    .columnText{
      @include response(phone){
        height: 55%;
      }
    }
  }   
  & :nth-child(4){
    .columnText{
      @include response(phone){
        height: 60%;
      }
    }
  }
  .btn {
    font-size: 2rem;
    padding: 1.5rem;
    @include boxShadow($primary);
  }
}