.tazNavMenu {
  background:rgba($white, .25);
  font-size: 3rem;
  padding: .5rem;

  @include response(big-desktop){
    font-size: 5rem;
    padding: 1rem;
  }
  & a {
    color:$white;
  }
  & .brandText {
    &:first-child{
      @include response(tab-port){
        display: none;
      }
    }
    &:not(:first-child):not(:last-child){
      display: none;
      @include response(phone){
        display:block;
      }
    }
    &:last-child {
      display: none;
      @include response(tab-port){
        display: block;
      }
      @include response(phone){
        display: none;
      }
    }
  }
  & .contactUsLink {
    &:first-child{
      font-size: 3rem;
      @include response(phone){
        display: block
      }            
      @include response(tab-port){
        display: none;
      }  
      @include response(big-desktop){
        font-size: 5rem;
        padding: 3rem 4rem;
      }    
    }
    &:last-child {
      display: none;
      @include response(tab-port){
        display: block;
      }
      @include response(phone){
        display: none
      }
      & .fa-2x {
      @include response(phone-land) {
          font-size: 1.25em;
        }
      }
    }
  }
  & .userProfileIcon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include boxShadow($dark);
  }
  & .dropdown-menu {
    transform: translate3d(-100px, 50px, 0px)!important;
    @include response(phone-land){
      height: 200%;
    }
  }
  & li {
    padding: .25rem .8rem;
  }
  & .rightNavItems li.nav-item:not(:last-child){
    border-right: thin solid $primary;
    @include response(phone) {
      border: none;
    }
  }
  & .logoOrImage {
    display: flex;
    padding: 1rem;
    @include response(big-desktop){
      font-size: 5rem;
    }    
    @include response(phone){
      display: none;
    }
    & .monogram{
      padding: .75rem 1.25rem;
    }
    & div {
      @include response(phone-land){
        font-size: 1.5rem;
      }

    }
  }
  .nav-item{
    margin-top: auto;
    margin-bottom: auto;
  }
  & .navMenuContactButton{
    @include response(big-desktop){
      font-size: 5rem;
    }    
    @include response(phone){
      display: none;
    }
  }
}
.tazNavMenuPhone {
  background:rgba($white, .25);
  font-size: 1.75rem;
  padding: .5rem;
  display: none;
  @include response(phone){
    display: block;
  }
  & a {
    color:$white;
  }

}
.navigation {

  &__checkbox {
    display: none;
  }
  &__button {
    height: 4rem;
    width: 5.5rem;
    color: $white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    //background: radial-gradient($primary-light, $taz-blue);
    position:fixed;
    top:6.0rem;
    z-index: 1000;
    opacity: .85;
    transition-duration: 0.4s;
  }
  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: transform .9s cubic-bezier(1, 0, 0.07, 0);
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    padding: 0;
    @include response(phone-land){
      font-size: inherit;
    }
  }
  &__item {
    text-shadow: .25rem .25rem .5rem $dark;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: .25rem 2rem;
      color: $white;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white 50%);
      background-size: 230%;   
      transition: all .4s;   

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
      @include response(big-desktop){
        font-size: 5rem;
      }
      @include response(phone){
        font-size: 2rem;
      }
      @include response(phone-land){
        font-size: 2rem;
        padding: .05rem;
      }      
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $taz-blue;
      text-decoration: none;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
    background: $taz-blue;
    @include response(big-desktop){
      transform: scale(100)
    }
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%; 
  }

    //ICON
    &__icon {
      position: relative;
      //margin-top: 3.5rem;

      &,
      &::before,
      &::after {
          width: 3rem;
          height: 2px;
          background-color: $dark;
          display: inline-block;
      }

      &::before,
      &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s;
      }

      &::before { top: -.8rem; }
      &::after { top: .8rem; }
  }

  &__button:hover &__icon::before {
      top: -1rem;
  }

  &__button:hover &__icon::after {
      top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
      background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
  }  
  & li {
    @include response(phone-land){
      padding:0
    }
  }
}

