.paddlerBio {
    color: $dark;
    font-size: 1.5rem;
  & .h5 {
    font-size: 2rem;
    @include response(big-desktop){
      font-size: 2rem;
    }    
    @include response(tab-land){
      font-size: 1.75rem;
    }
    @include response(phone-land){
      font-size: 1.25rem;;
    }    
    @include response(phone){
      font-size: 1.25rem;;
    }
  }
  & .form-check {
    display: flex;
    align-items: center;
    & label {
      margin-right:1rem;
    }
  }
  & .form-check-input {
    position: relative;
    margin: 0;
    width: 25px;
    height: 25px;
  }
  & table {
    border-spacing: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    & td {
      padding: .5rem;
      vertical-align: top;
      &:nth-child(odd){
        color:$primary;
        text-align: right;       
      }
    }
  }
  & .paddlerImage {
    display:block;
    @include response(tab-port){
      display:none;
    }
  }
  & .card {
    & .card-title {
      padding:.5rem;
      @include response(tab-land){
        font-size: 1.5rem;
      }
      @include response(phone){
        font-size: 1.75rem;
      }
      & button {
        & h4 {
          @include response(phone){
            font-size: 1rem;
          }
        }
      }
    }

  }
  & .monogram {
    padding: 1rem;
  }
}