.practicesPage{
  margin-bottom: 5rem;
  & .fullsize-bg-image {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: .75;
    z-index:-1000; 
    @include response(ipadPro-port){
      width: auto;
      height: 100%;
    }
    @include response(tab-port){
      width: auto;
      height: 100%;
    }
    @include response(phone-land){
      width: 100%;
      height:auto;
    }
  
  }
  & .pageTitle {
    @include response(big-desktop){
      font-size: 10rem;
    }    
  }
  & .practices {
    color:$dark;
    font-size: 1.5rem;
    @include response(phone-land){
      font-size: 1rem;
    }
    & .card {
      padding: 2rem;
      background-color: rgba($white, 0);
      @include response(big-desktop){
        padding: 4rem;
      }
      & .card-title {
        font-size: 2.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include response(big-desktop){
          font-size: 4rem;
        }        
        @include response(phone){
          font-size: 1.25rem;
        }
      }
      & .card-subtitle{
        font-size:2rem;
        font-weight: 300;
        @include response(big-desktop){
          font-size: 4rem;
        }  
        @include response(phone){
          font-size: 1.5rem;
        }                
      }
      & .card-body {
      font-size: 1.5rem;
      @include response(phone-land){
        font-size: 1rem;
      }
      @include response(phone){
        font-size: 1rem;
      }
      & ul {
        color:$dark;
        text-shadow: .25rem .25rem .5rem $primary;
        display: inline-block;
        padding: 3rem;
        font-size: 1.75rem;
        @include response(big-desktop){
          font-size: 3rem;
        }        
        @include response(phone-land){
          font-size: 1.5rem;
        }
        @include response(phone){
          font-size: 1.25rem;
        }
      }
      }
    }
    & .instructions {
      & :first-child{
        margin-bottom: 2rem;
        @include response(big-desktop){
          margin-bottom: 2rem;
        }        
      };
    }    
    & .practiceTabs {
      min-height: 100%;

      @include response (ipadPro-port){
        margin-top: 2rem;
        min-height: 50vh;
      }    
      @include response(tab-port){
        margin-top: 2rem;
      }
      @include response(phone-land){
        min-height: 100vh;
      } 
      @include response(phone){
        margin-top: 2rem;
      }      
      & .nav {
        font-size: 2rem;
        @include response(big-desktop){
          font-size: 4rem;
        }    
        @include response(phone){
          font-size: 1.25rem;
        }
      }
      & #practiceTabInfo-tabpane-map{
        & .alert {
          position: absolute;
          top: 25%;
          left: 25%;
          z-index: 200;
          width: 50%;
          border: thin solid;
          box-shadow: .25rem .25rem .5rem #000;
          @include response(big-desktop){
            font-size: 3rem;
          }
          @include response(phone-land){
            left: 5%;
            width: 75%;           
          }
          @include response(phone){
            font-size: .75rem;
            width: 75%;
            left: 5%;
          }
          & .alert-heading{
            @include response(big-desktop){
              font-size: 4rem;
            }          
          }
        }
      }
      & #practiceTabInfo-tabpane-winter{
        font-size: 1.75rem;
        & img {
          text-align: center;
          width: 50%;
        }
      }
      & #practiceTabInfo-tabpane-summer{
        font-size: 1.75rem;
        & img {
          text-align: center;
          width: 50%;
        }
      }
    }
  }    
}