.bgPracticeOverlay {
  background: rgba($primary, .5); 
  min-height: 100vh; 
}
.practiceText {
  color:$white;
  text-shadow: .25rem .25rem .5rem $dark;
  display: inline-block;
  padding: 3rem;
  font-size: 2rem;
}
.practiceTimes {
  list-style-type: none;
}
.practiceTabs {
  & .nav {
    font-size: 2rem;
  }
}
.alertText {
  background: rgba(255,255,255, .75);
  text-shadow:none;
}
#practiceTabInfo-tabpane-map{
  & .alert {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 200;
    width: 50%;
    border: thin solid;
    box-shadow: .25rem .25rem .5rem #000;
  }
}
#practiceTabInfo-tabpane-winter{
  font-size: 1.75rem;
  & img {
    text-align: center;
    width: 75%;
  }
  & .alert-heading {
    font-size: 2rem;
  }
}

#practiceTabInfo-tabpane-summer{
  font-size: 1.75rem;
  & img {
    text-align: center;
    width: 75%;
  }
  & .alert-heading {
    font-size: 2rem;
  }
}
