.practicesPage{
  margin-bottom: 5rem;
  & .fullsize-bg-image {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: .75;
    z-index:-1000; 
    @include response(ipadPro-port){
      width: auto;
      height: 100%;
    }
    @include response(tab-port){
      width: auto;
      height: 100%;
    }
    @include response(phone-land){
      width: 100%;
      height:auto;
    }
  
  }
  & .practices {
    color:$dark;
    font-size: 1.5rem;
    @include response(phone-land){
      font-size: 1rem;
    }
    & .card:first-child{
      margin-bottom: 2rem;
    }
    & .card-header {
      & h2{
        @include response(phone){
          font-size: 1.25rem;
        }

      }
    }
    & .card-title {
      padding:2rem;
      margin:0;
      & h2{
        @include response(phone){
          font-size: 1.25rem;
        }

      }      
      &.h5{
        font-size:2rem!important
      }
    }
    & .card-body {
      font-size: 1.5rem;
      @include response(phone-land){
        font-size: 1rem;
      }
      @include response(phone){
        font-size: 1rem;
      }
      & ul {
        color:$dark;
        text-shadow: .25rem .25rem .5rem $primary;
        display: inline-block;
        padding: 3rem;
        font-size: 2rem;
        @include response(phone-land){
          font-size: 1.5rem;
        }
        @include response(phone){
          font-size: 1.25rem;
        }
      }

    }
    & .practiceTabs {
      min-height: 75vh;
      & .nav {
        font-size: 2rem;
        @include response(tab-port){
          margin-top: 2rem;
          background-color: rgba($white, .95);
        }
        @include response(phone){
          font-size: 1.25rem;
          background: rgba($white, .95);
          margin-top: 2rem;
        }
      }
    }
    & .alertText {
      background: rgba(255,255,255, .75);
      text-shadow:none;
    }
    & #practiceTabInfo-tabpane-map{
      & .alert {
        position: absolute;
        top: 25%;
        left: 25%;
        z-index: 200;
        width: 50%;
        border: thin solid;
        box-shadow: .25rem .25rem .5rem #000;
        @include response(phone-land){
          left: 5%;
          width: 75%;
          
        }
        @include response(phone){
          font-size: 1.25rem;
          width: 75%;
          left: 5%;
        }
      }
    }
    & #practiceTabInfo-tabpane-winter{
      font-size: 1.75rem;
      & img {
        text-align: center;
        width: 50%;
      }
    }
    & #practiceTabInfo-tabpane-summer{
      font-size: 1.75rem;
      & img {
        text-align: center;
        width: 50%;
      }
    }
  }    
}