.raceInfo {
  & input {
    border:thin solid $dark;
    margin-left:1rem;
  }
  & textarea {
    border:thin solid $dark;
    margin-left:1rem;
  }
  & li {
    margin-bottom: 1rem;
    list-style: none;
    display: flex;
    align-items:center;
  }
  & input[type="checkbox"]{
    position:initial;
    margin: 0 0 0 1rem;
    height: 25px;
    width: 25px;
  }
  & .btnDashboard {
    font-size: 2rem;
  }
}

.event-tooltip-content {
  padding: 5px;
}

.event-tooltip-content:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.raceDashboard {
  font-size: 2rem;
  min-height: 75vh;
  & span:not(:last-child) {
    margin-right: 1rem;
  }
  & .comma:not(:last-child):after{
    content: ", ";
  }

  & section:not(:last-child) {
    margin-bottom:3rem;
  }
  .tabbedInfo {
    height:50vh;
    .card-header-tabs {
      margin: 0px;
    }
    .tab-content{
      min-height: 100%;
    }
    .nav-tabs {
      .nav-item {
        margin-bottom: -.75rem;
      }
    }
    .nav-link.active{
      background-color: $info;
      color:$white;
      border:none
    }
    .currentTab {
      background: $info;
    }
    .tab-pane{
      padding:2rem;
    }
  }
  & .modal-dialog {
    max-width:90vw;
  }

  .nav-link {
    display: flex;
    justify-content: end;
    align-items: center;
    & svg.fa-female {
      color:$pink;
    }
    & .badge {
      display: flex;
      align-items: center;
      padding:.25rem .5rem;      
    }
  }
  & .modal-title {
    font-size: 2rem;
  }
  & .line-height-4rem {
    line-height:4rem;
  }
  & .border-left-2 {
    border-left:thin solid $dark
  }
}