.storePage{
  & img.fullsize-bg-image{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: .75;
    z-index:-1000; 
    @include response(ipadPro-land){
      width: auto;
      height: 100%;
    }    
    @include response(ipadPro-port){
      width: 100%;
      height: auto;
    }
    @include response(tab-land){
      width: auto;
      height: 100%;
    }
    @include response(phone-land){
      width: 100%;
      height: auto;
    }    
  }
  & .storeContainer{
    background:rgba($white, .75);
    min-height: 90vh;
    max-width: 90vw;
    margin:auto;

    & .store {
      width:90vw;
      min-height: 75vh;
      border: none;
      border-radius: 15px;
      margin-right: auto;
      margin-left: auto;
      @include response(tab-land) {
        min-height: 90vh;
      }
    }
  }
}
  