.bgTraditionPage{
  margin-bottom: 3rem;
  & .pageTitle{
    padding-top: 8rem;
    @include response(phone-land){
      font-size: 3rem;
    }
  }
  & .fullsize-bg-image {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    opacity: .75;
    z-index:-1000; 
    @include response(ipadPro-land){
      width: 100%;
      height: auto;
    }
    @include response(ipadPro-port){
      width: auto;
      height: 100%;
    }
    @include response(tab-port){
      width: auto;
      height: 100%;
    }
    @include response(phone-land){
      width: 100%;
      height:auto;
    }
  
  }

  .traditionContainer {
    & .nav-tabs {
      font-size: 2rem;
      background: rgba($white, .5);
      @include response(big-desktop){
        font-size: 3rem;
      }
      @include response(phone){
        font-size: 1.5rem;
        flex-wrap: nowrap;
      }
      & a {
        color: $primary;     
        text-decoration: none;
      }
    }
    & .tab-content {
      background-color: rgba($white, .5);
      display: flex;
      & .tab-pane {
        width: 100%;
      }
    }
    & .nav-link.active {
      background-color: rgba($white, .5)!important;
      color: $danger;
      text-shadow: none;
    }
    & .card {
      padding: 2rem;
      & .card-title {
        font-size: 2.5rem;
      }
    }
    .terms {
      width: 90%;
      margin-left:auto;
      margin-right: auto;
      color: $primary;
      text-shadow: .05rem .05rem .05rem $info;
      background: rgba($white, .5); 
      padding: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem; 
      font-size: 2rem; 
      @include response(ipadPro-port){
        column-count: 1;
      }      
      @include response(phone){
        padding: .25rem;
        font-size: 1.25rem;
      }    
      & .card {
        @include boxShadow($dark);
        color:$white;
        background: rgba($danger, .75);
        & .card-title{
          @include response(phone){
            font-size: 1.5rem;
          }         
        }
        & .card-subtitle {
          font-size: 1.75rem;
          font-style: italic;
          color: $warning;
          @include response(phone){
            font-size: 1.5rem;
          }                 
        }
        & .card-text{
          font-size: 1.25em;
          @include response(phone){
            font-size: 1rem;
          }           
        }        
      }

    }
    .canoeTypes {
      margin-top: 2rem;
      margin-bottom: 2rem;
      & .carousel_cards{
        @include boxShadow($dark);
        @include response(phone){
          display: none;
        }
        & .carousel {
          position: relative;
        }
        & .carousel-inner {
          width: 75%;
          margin-left: auto;
          margin-right: auto;
        }
        & .card-body {
          font-size: 2rem;
          @include response(phone-land){
            font-size: 1.25rem;
          }
          h1{
            @include response(phone-land){
              font-size: 1.75rem;
            }          
          }
        }
        & .carousel-indicators {
          top: 0;
          bottom:unset;
          position: relative;
          & li {
            background-color: $warning!important;
            opacity:1;
          }
        }
        & .carousel-item {
          & .card{
            & .card-body {
              color:$primary;
            }
          }
        }
      }
      & .individual_cards{
        display: none;
        color: $primary;
        @include boxShadow($dark);
        @include response(phone){
          display: block;
        }
        & .card {
          & .card-body {
            font-size: 2rem;
            @include response(phone-land){
              font-size: 1.25rem;
            }
            @include response(phone){
              font-size: 1.25rem;
            }            
            h1{
              @include response(phone-land){
                font-size: 1.75rem;
              }
              @include response(phone){
                font-size: 1.75rem;
              }                        
            }
          }          
        }
        & .card:not(:last-child){
          margin-bottom: 2rem;
        }
      }
    }    
    .positions{
      color:$primary;
      padding: 2rem;
      text-shadow: .05rem .05rem .05rem $info;
      background: rgba($white, .5); 
      padding: 5rem;       
      @include response(phone){
        padding: 1rem;
        font-size: 1.25rem;
      }
      & h1 {
        @include response(phone){
          font-size: 1.25rem;
        }
      }
      & .individual_cards{
        & .card {
          padding: 1.5rem;   
          color:$white;
          @include boxShadow($dark);       
          @include response(phone){
            padding: 1.25rem;
          }
          & .card-title{
            font-size: 2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: $danger;
            @include response(big-desktop){
              font-size: 3rem;
            }
            @include response(phone){
              font-size: 1.75rem;
            }
          }
          & .card-text{
            font-size: 2rem;            
            @include response(phone){
              font-size: 1rem;
            }
          }
          & .card-body {

            @include response(phone-land){
              font-size: 1.25rem;
            }
            @include response(phone){
              font-size: 1.25rem;
            }            
            h1{
              @include response(phone-land){
                font-size: 1.75rem;
              }
              @include response(phone){
                font-size: 1.75rem;
              }                        
            }
          }          
        }
        & .card:not(:last-child){
          margin-bottom: 2rem;
        }        
      }
    }
  }
}


.otherTerms{
  & .card {
    background: rgba($primary, .5);
    color: white;
    & .card-title {
      text-transform: uppercase;
    }
  }
}
