.bg_Calendar{
    background-image: url('/images/bg_home.jpg');
    background-size: cover; 
    height: 100vh; 
}

.rbc-toolbar-label {
  font-size: 2rem;
}
.rbc-month-view{
  height:auto!important
}
.rbc-row-content{
  z-index: 0!important;
}
.events { 
  & .card{
    margin: .5rem;
    border-radius: 10px;
    box-shadow: .5rem .5rem 1rem rgba($primary, .75);
    & label {
      font-weight: 600;
      font-size: 1rem;
    }
    & .card-body{
      font-size: 1.5rem;
      padding:.25rem;
    }
    & img {
      padding: .5rem;
    }
    & .card-title {
      font-size: .75rem;
    }

  }
  & .card-header {
    font-size: 2rem;
    font-weight: 600;

  }
  & .btn {
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.75rem;
  }
  & td {
    vertical-align: top;
  }
}
.eventDescriptionTitle {
  text-shadow: .1rem .1rem .25rem $dark;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Alegreya';
  font-size: 5rem;
}
.scoraEvents {
  & td {
    font-size: 1.25rem;
  }
  & thead{
    & td {
    font-weight: 600;
    font-size: 1.5rem;
    }
  }
}
.eventInfo {
  & .nav-item {
    font-size: 2rem;
  }
}