.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    height: 6rem;
    width: 5.5rem;
    position: fixed;
    top:5rem;
    right: 4rem;
    border:thin solid $primary;
    border-radius:50%;
    z-index: 2000;
    box-shadow: .25rem .25rem .5rem rgba($dark, .75);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba($info, .5);
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    //background: radial-gradient($primary-light, $taz-blue);
    position:fixed;
    top:6.0rem;
    right:3.75rem;
    z-index: 1000;
    opacity: .85;
    transition-duration: 0.4s;
  }
  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: transform .9s cubic-bezier(1, 0, 0.07, 0);
  }
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    font-size: 3rem;
    width: 100%;
  }
  &__item {
    text-shadow: .25rem .25rem .5rem $dark;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $white;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white 50%);
      background-size: 230%;   
      transition: all .4s;   

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $taz-blue;
      text-decoration: none;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
    background: $taz-blue;
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%; 
  }

    //ICON
    &__icon {
      position: relative;
      //margin-top: 3.5rem;

      &,
      &::before,
      &::after {
          width: 3rem;
          height: 2px;
          background-color: $dark;
          display: inline-block;
      }

      &::before,
      &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s;
      }

      &::before { top: -.8rem; }
      &::after { top: .8rem; }
  }

  &__button:hover &__icon::before {
      top: -1rem;
  }

  &__button:hover &__icon::after {
      top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
      background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
  }  

}
.navigatorMenu {
  background: rgba($white, .25);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  & .navbar-brand {
    font-size: 2rem;
    color: $white;
  }
  & .nav_link {
    color: $white;
    font-size: 1.5rem;
    margin-right:2rem;
  }
  & .welcomeUser {
    color: $white;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  & a {
    margin-right: 1rem;
  }
}
.navbar {
  padding: 0!important;
  & .navbar-brand {
    padding-left:2rem;
  }
}