.ecwid-Checkout-blockTitle {
  color: #FFF!important;
  text-decoration: none;
}
.ecwid-productBrowser-productNameLink a {
  color: #FFF;
  text-decoration: none;
}
.ecwid-productBrowser-cart-hint {
  color:#000!important;
}
