@import './base/settings';
@import './base/mixins';
@import './base/base';
@import './base/typography';
@import './base/my-bootstrap';
@import './components/home.scss';
@import './components/calendar.scss';
@import './components/footer.scss';
@import './components/navbar.scss';
@import './components/navigation.scss';
@import './components/practices';
@import './components/about_us';
@import './components/tradition';
@import './components/shopTAZ';
@import './components/news.scss';
@import './components/joinUs';
@import './components/auth';
@import './components/dashboard';
@import './components/adminControl';
@import './components/scoraInfo';
@import './components//paddlerBio';
@import './components/raceAdmin';
@import './components/race';
@import './components/addRaceToPaddler';
@import './components/attendance';

@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
