*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $m-size;
  color:$white;
  position: relative;
  height: 100vh;
  background: $taz-blue!important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
.page {
  min-height: 95vh;
}
@font-face {
  font-family: 'Alberobe Serif';
  src: url('/fonts/AlberobelloSerif.woff');
}
@font-face {
  font-family: 'Alberobe Script';
  src: url('/fonts/AlberobelloScript.woff');
}

@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Roboto&display=swap');

.pageTitle {
  text-shadow: .1rem .1rem .25rem $dark;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Alegreya';
  font-size: 6rem;
}
.sectionTitle {
  text-shadow: .1rem .1rem .25rem $dark;
  text-align: left;
  font-family: 'Roboto';
  font-size: 3.5rem;
}
.containerTitle {
  text-align: left;
  font-family: 'Roboto';
  font-size: 2rem;
}
.bgOverlayColor {
  background: rgba($primary, .5); 
  min-height: 100vh; 
}
.box-shadow-primary {
  @include boxShadow($primary)
}

.spinner {
  height: 6rem!important;
  width: 6rem!important;
  color: $white;
}