*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: $dark;
}

body {
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $m-size;
  color:$white;
  background: $taz-blue!important;
}
#app{
  @include response(big-desktop){
    width:75vw;
    margin-left:auto;
    margin-right: auto;
  }
}
button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
.page {
  min-height: 95vh;
}
@font-face {
  font-family: 'Alberobe Serif';
  src: url('/fonts/AlberobelloSerif.woff');
}
@font-face {
  font-family: 'Alberobe Script';
  src: url('/fonts/AlberobelloScript.woff');
}

@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans|Roboto&display=swap');

.pageTitle {
  text-shadow: .1rem .1rem .25rem $dark;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Alegreya';
  font-size: 5rem;
  padding-top: 7rem;
}
.sectionTitle {
  text-shadow: .1rem .1rem .25rem $dark;
  text-align: left;
  font-family: 'Roboto';
  font-size: 3.5rem;
}
.containerTitle {
  text-align: left;
  font-family: 'Roboto';
  font-size: 2rem;
}
.bgOverlayColor {
  background: rgba($primary, .5); 
  min-height: 100vh; 
}
.box-shadow-primary {
  @include boxShadow($primary)
}

.spinner {
  height: 6rem!important;
  width: 6rem!important;
  color: $white;
}
.card-img-top {
  padding:1rem;
}

.form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  & label {
    padding-left: 1.6rem;
    display: block;
  }
}
.form-check-input {
  position: relative;
  margin:0;
  width:25px;
  height: 25px;
  & .form-check-input:disabled{
    color: #000!important;
  }
}

.bigCalendar {
  & .react-datepicker {
    font-size: 2rem;
    & .react-datepicker__day-name {
      margin: 1.5rem;
    }
    & .react-datepicker__day--selected{
      padding:.5rem;
      width:3rem;
    }
    & .react-datepicker__day {
      margin: 1rem 1.5rem;
    }
    & .react-datepicker__week {
      padding: 0rem 1rem;
    }
    & .react-datepicker__current-month{
      font-size: initial;
    }
    & .react-datepicker__day--highlighted {
      background-color: $warning!important;
      width: 3rem!important;
      padding:.5rem;
      color: $dark!important;
    }  
  }
  & .modal-title {
    color:$primary
  }
  & .modal-body {
    color:$dark
  }
}
.modal {
  background:rgba($info, .75);
  & .modal-header {
    color:$white;
    & button {
      color:$white;
    }
  }
}

.modal-open {
  overflow: visible !important;
}

.card {
  font-size: 2rem;
  & .card-title {
    font-size: 2rem;
    padding:.25rem .5rem
  }

}

.rbc-calendar {
  color:#000;
  height:50vh!important;
  margin:4rem!important;
  @include response(phone-land){
    height: 100vh!important;
    margin: 0!important;
  }
  @include response(phone){
    height: 50vh!important;
    margin: 0!important;
  }
  & .rbc-event-content{
    @include response(phone){
      font-size: 1rem;
    }
  }
}
