@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin boxShadow($color) {
	box-shadow: .25rem .25rem .25rem $color;
}
@mixin textShadow($color) {
	text-shadow: .25rem .25rem .25rem $color;
}

// media query manager
/*
0-600px phone
812 and 375 phone land
600-900 tablet portrait
900-1024 tablet landscape
1024-1200 iPad Pro
1200-1800 normal desktops
1800+ big desktops
*/
@mixin phone {
	@media (max-width:600px) { @content };
}
/*
	- phone 
	- phone-land
	- tab-port
	- tab-land
	- big-desktop
*/
@mixin response($breakpoint) {
	
	@if $breakpoint== phone{
		@media (max-width:600px) { @content };
	}
	@if $breakpoint == phone-land {
		@media (max-width: 900px) and (max-height:414px) { @content };
	}
	@if $breakpoint== tab-port {
		@media (max-width:900px) { @content };
	}
	@if $breakpoint== tab-land {
		@media (max-width:1200px) { @content };
	}
	@if $breakpoint == ipadPro-port { 
		@media (max-width:1024px) and (max-height:1366px) { @content } ; 
	}
	@if $breakpoint == ipadPro-land{ 
		@media (max-width:1366px) and (max-height:1024px) { @content } ; 
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) { @content };
	}	
	@if $breakpoint == land {
		@media (orientation:landscape) { @content };
	}
	@if $breakpoint == port {
		@media (orientation:portrait) { @content};
	}	
}
