@mixin fontFace($family,$src,$style: normal,$weight: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot'); // IE9 compat
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
			url('#{$src}.woff') format('woff'), // standards
			url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
			url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

		font-style: $style;
		font-weight: $weight;
	}
}
@mixin boxShadow($color) {
	box-shadow: .25rem .25rem .25rem $color;
}
@mixin textShadow($color) {
	text-shadow: .25rem .25rem .25rem $color;
}
@mixin aTribal{
  background-image: url('/images/A-with-tribal_300_fade.png');
  background-repeat: no-repeat;
  background-size: contain;	
}

// media query manager
/*
0-600px phone
600-900 tablet portrait
900-1200 tablet landscape
1200-1800 normal desktops
1800+ big desktops
*/
@mixin phone {
	@media (max-width:600px) { @content };
}
/*
	- phone 
	- tab-port
	- tab-land
	- big-desktop
*/
@mixin response($breakpoint) {
	@if $breakpoint== phone{
		@media (max-width:600px) { @content };
	}
	@if $breakpoint== tab-port {
		@media (max-width:900px) { @content };
	}
	@if $breakpoint== tab-land {
		@media (max-width:1200px) { @content };
	}
	@if $breakpoint== big-desktop {
		@media (min-width:1800px) { @content };
	}
	@if $breakpoint == phone-land {
		@media (max-width: 900px) and (max-height:414px) { @content }
	}	
}
