// Colors
$danger: #CC0000;
$warning: #FF8800;
$success:#007E33;
$info: #0099CC;
$primary:#0d47a1;
$dark:#212121;
$gray:#3E4551;
$white:#e3f2fd;
$pink:#FFC0CB;
$muted:#999999;
$taz-blue:#01579b; 
$primary-dark:#2559aa;
$primary-light:#6d90c6;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//background color

.bg-taz-blue {
  background-color: $taz-blue;
}
.bg-white-{
  &1 {
    background-color: rgba($white, .1)!important;
  }
  &2 {
    background-color: rgba($white, .25)!important;
  }
  &3 {
    background-color: rgba($white, .5)!important;
  }
  &4 {
    background-color: rgba($white, .75)!important;
  }      
}
.bg-pink {
  background-color:$pink;
}
